@font-face {
    src: url(fonts/Poppins-Regular.ttf);
    font-family: Poppins, ibm-plex-mon;
}

*{
    box-sizing: border-box;
}

.ibm-plex-mono-regular {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

html, body{
    background-color: #080808 !important;
}

.header{
    margin: 10px;
    font-family: "IBM Plex Mono", monospace;
    color: #ffff;
}

.picture-Me{
    float: right;
    margin: 10px;
    height: auto;
}

img{
    border-radius: 50%;
}

.aboutMe{
    font-family: "IBM Plex Mono", monospace;
    color: #9C9C9C;
    box-sizing: border-box;
}

#name{
    color: #ffff;
}

#socials{
    position: relative;
    left: 500px;
    color: #ffff;
}





