@font-face {
    src: url(fonts/Poppins-Regular.ttf);
    font-family: Poppins;
}
body{
   font-family: Poppins;
}

header{
    
    color: rgb(35, 35, 35);
}

#name{
    
    color: rgb(35, 35, 35);
}

#aboutMe{
    color: gray;
}

#socials{
    color: gray;
}